.App {
  text-align: center;
  display: flex;
  background-color: #f5f5f5;
  color: #333333;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.sidemenu {
  width: 240px;
  background-color: #202123;
  padding: 10px;
}

.chatbox {
  flex: 1;
  background-color: #ffffff;
  position: relative;
}

.side-menu-button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  text-align: left;
  color: #ffffff;
  font-size: 1.2em;
  font-weight: bold;
  transition: ease 0.25s all;
}

.side-menu-button span {
  padding-left: 6px;
  padding-right: 12px;
}

.side-menu-button:hover {
  background-color: #c7c7c7;
  cursor: pointer;
}

.text-input-textarea {
  background-color: #f0f0f0;
  width: 100%;
  height: 44px;
  padding: 12px;
  border-radius: 5px;
  border: none;
  margin: 12px 0;
  outline: none;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
  color: #333333;
  font-size: 1.1em;
}

.chat-input-holder {
  padding: 24px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f5f5f5;
}

.chat-log {
  padding: 24px;
  text-align: left;
  max-height: 610px; /* set a maximum height to enable scrolling */
  overflow-y: auto; /* enable vertical scrolling */
}
.chat-message-chatgpt {
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  max-width: 75%;
  position: relative;
  background-color: #F5F8FA;
  animation-name: pop-up;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

@keyframes pop-up {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.avatar {
  background: #333333;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.message {
  padding-left: 16px;
  padding-right: 16px;
}

.chat-message-center {
  max-width: 640px;
  margin-left: auto;
  display: flex;
  margin-right: auto;
  padding: 12px;
  border-radius: 10px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}
